body{
    margin: 0;
    color: #ffffff;
}

h2, h3{
    display: flex;
    justify-content: center;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

.responsive{
    margin-top: 200px;

}

.list{
    display: flex;
    column-gap: 40px;
    justify-content: center;
}

.list__item{
    background: aliceblue;
    max-width: 230px;
    padding: 60px 40px 40px 40px;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 2px solid #333;
    position: relative;
    z-index: 0;
}

.item__circle{
    width: 85px;
    height: 85px;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 110px;
    z-index: 2;
    background: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;

}

.fa-house{
    font-size: 30px;
    color: green;
}

.fa-user{
    font-size: 30px;
    color: yellow;
}

.fa-star{
    font-size: 30px;
    color: red;
}


.item__title{
    font-size: 24px;
    font-weight: bold;
}


.item__text{
    text-align: center;
    line-height: 1.4;
    color: silver;
}

.item__link{
    text-align: center;
    border: 2px solid #333;
    padding: 20px 40px;
    text-decoration: none;
    color: #333333;

}







